<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magentochamp\Bulkorder\Api\Data\GridInterface" type="Magentochamp\Bulkorder\Model\Bulkorder" />
 
    <virtualType name="Magentochamp\Bulkorder\Model\ResourceModel\Bulkorder\Bulkorder\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magentochamp_bulkorder</argument>
            <argument name="resourceModel" xsi:type="string">Magentochamp\Bulkorder\Model\ResourceModel\Bulkorder</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_record_grid_list_data_source" xsi:type="string">Magentochamp\Bulkorder\Model\ResourceModel\Bulkorder\Bulkorder\Collection</item>
            </argument>
        </arguments>
    </type>
</config>