<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="advance_configurable_default_option_values" type="WebVision\AdvanceConfigurable\Plugin\Block\ConfigurableProduct\Product\View\Type\Configurable" />
    </type>
</config>